<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{schedule/layout}">

<head>
  <title>스케줄 시스템 :: 작업 조회</title>
  <link th:href="@{/style/schedule/job/jobDetail.css}" rel="stylesheet">
</head>

<th:block layout:fragment="content-fragment">
  <!-- 대시보드 본문 영역 -->
  <section class="area-dashboard"
           th:with="jobLogListPage = @{/job/{jobSeq}/log(jobSeq = ${job.jobSeq})},
                    triggerStorePage = @{/trigger/store(jobName = ${job.jobName}, jobGroup = ${job.jobGroup})},
                    triggerListPage = @{/job/{jobSeq}/trigger/list(jobSeq = ${job.jobSeq})},
                    triggerLogListPage = @{/job/{jobSeq}/trigger/log(jobSeq = ${job.jobSeq})},
                    hasOwnership = ${#authentication.principal.user.gradeType.name == 'SYSOP' or #authentication.principal.user.userCode == job.jobRegister},
                    isUpdatable = ${job.jobStore == 'STORED' and job.jobState != 'DELETED'}">
    <!-- 대시보드 메뉴 경로 영역 -->
    <th:block th:replace="/schedule/partial/route :: route-fragment(parent = '작업', child = '조회')" />
    <!-- 대시보드 제목 영역 -->
    <th:block th:replace="/schedule/partial/title :: title-fragment(title = '작업 조회 (#' + ${job.jobSeq} + ')', comment = ': 작업 정보를 조회, 수정합니다.')" />
    <!-- 대시보드 액션 버튼 영역 -->
    <div class="area-dashboard-action">
      <ul>
        <li><button type="button" class="button-navy" onclick="app.backward()"><i class="ic-arrow-left"></i></button></li>
        <li><button type="button" class="button-navy" onclick="app.refresh()"><i class="ic-refresh"></i></button></li>
        <li th:if="${hasOwnership} == true and ${isUpdatable} == true"><button type="button" class="button-navy" onclick="app.clearForm()" th:text="${'입력 초기화'}"></button></li>
        <li th:if="${hasOwnership} == true and ${isUpdatable} == true"><button type="button" class="button-gray" onclick="schedule.onJobUpdateHandler()" th:text="${'작업 수정'}"></button></li>
        <li class="separator"><button type="button" class="button-gray" th:text="${'작업 로그'}" th:onclick="|location.href = '@{${jobLogListPage}}'|"></button></li>
        <li th:if="${hasOwnership} == true and ${isUpdatable} == true"><button type="button" class="button-gray" th:text="${'트리거 등록'}" th:onclick="|location.href = '@{${triggerStorePage}}'|"></button></li>
        <li><button type="button" class="button-gray" th:text="${'트리거 목록'}" th:onclick="|location.href = '@{${triggerListPage}}'|"></button></li>
        <li><button type="button" class="button-gray" th:text="${'트리거 로그'}" th:onclick="|location.href = '@{${triggerLogListPage}}'|"></button></li>
      </ul>
    </div>
    <!-- 대시보드 내용 영역 -->
    <div class="area-dashboard-content">
      <!-- 작업 조회 영역 -->
      <div class="area-job-detail">
        <form class="area-form-job-detail">
          <!-- 작업 조회 기본 정보 -->
          <div class="area-field-job-default">
            <div class="area-field-job-default-left">
              <h2 class="essential-asterisk">기본 정보</h2>
              <p>: 작업 이름, 그룹을 확인합니다.</p>
            </div>
            <div class="area-field-job-default-right">
              <div class="area-field-job-name">
                <label for="jobName">
                  <input id="jobName" class="job-name" type="text" placeholder="작업 이름" th:value="${job.jobName}" readonly />
                </label>
              </div>
              <div class="area-field-job-group">
                <label for="jobGroup">
                  <input id="jobGroup" class="job-group" type="text" placeholder="작업 그룹" th:value="${job.jobGroup}" readonly />
                </label>
              </div>
            </div>
          </div>
          <!-- 작업 조회 실행 정보 -->
          <div class="area-field-job-execution">
            <div class="area-field-job-execution-left">
              <h2 class="essential-asterisk">실행 정보</h2>
              <p>: 작업 실행 대상을 확인합니다.</p>
            </div>
            <div class="area-field-job-execution-right">
              <div class="area-field-job-class-type">
                <label for="classType">
                  <select id="classType" name="class-type"
                          onchange="schedule.selectClassType()"
                          th:disabled="${hasOwnership != true or isUpdatable != true}">
                    <option th:each="type: ${T(system.core.enums.schedule.JobClassType).values()}"
                            th:text="${type.value}"
                            th:value="${type.name}"
                            th:selected="${type.name} == ${job.jobClass}">
                  </select>
                </label>
              </div>
              <div class="area-field-job-class-name">
                <label for="className">
                  <input id="className" class="class-name" type="text" placeholder="작업 대상 클래스" onblur="app.removeCheckMessage(this)"
                         th:value="${job.jobClassName}"
                         th:readonly="${hasOwnership != true or isUpdatable != true}" />
                </label>
              </div>
              <div class="area-field-job-class-comment">
                <label for="classComment">
                  <input id="classComment" class="class-comment" type="text" placeholder="작업 대상 설명" onblur="app.removeCheckMessage(this)"
                         th:value="${job.jobClassComment}"
                         th:readonly="${hasOwnership != true or isUpdatable != true}" />
                </label>
              </div>
            </div>
          </div>
          <!-- 작업 조회 데이터 정보 -->
          <div class="area-field-job-data">
            <div class="area-field-job-data-left">
              <h2>데이터 정보</h2>
              <p>: 작업 실행 데이터를 확인합니다.</p>
            </div>
            <div class="area-field-job-data-right">
              <div class="area-field-job-class-data">
                <label for="classData">
                  <textarea id="classData" class="class-data" type="text" placeholder="작업 대상 데이터" onblur="app.removeCheckMessage(this)"
                            th:text="${job.jobClassData}"
                            th:readonly="${hasOwnership != true or isUpdatable != true}"></textarea>
                </label>
              </div>
            </div>
          </div>
          <!-- 작업 조회 부가 정보 -->
          <div class="area-field-job-extra">
            <div class="area-field-job-extra-left">
              <h2 class="essential-asterisk">부가 정보</h2>
              <p>: 작업 부가 정보를 확인합니다.</p>
            </div>
            <div class="area-field-job-extra-right">
              <div class="area-field-job-register">
                <span class="label-job-register">작업 소유자</span>
                <span class="badge badge-dark" th:text="${job.jobRegister}"></span>
              </div>
              <div class="area-field-job-store">
                <span class="label-job-store">등록 유형</span>
                <span class="badge badge-dark" th:text="${job.jobStore}" th:if="${job.jobStore == 'STORED'}" />
                <span class="badge badge-rose" th:text="${job.jobStore}" th:if="${job.jobStore == 'DELETED'}" />
              </div>
              <div class="area-field-job-state">
                <span class="label-job-state">상태 유형</span>
                <span class="badge badge-rose" th:text="${job.jobState}" th:if="${job.jobState == 'DELETED'}" />
                <span class="badge badge-dark" th:text="${job.jobState}" th:if="${job.jobState != 'DELETED'}" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</th:block>

</html>