@charset "utf-8";

@import url("reset.css");
@import url("icon.css");
@import url("https://webfontworld.github.io/pretendard/Pretendard.css");

:root {
  --dark-100: #EFF2F5;
  --dark-150: #E0E4E8;
  --dark-200: #181C32;
  --rose-100: #FFF5F8;
  --rose-150: #FFE3EB;
  --rose-200: #F1416C;
  --yellow-100: #FFF8DD;
  --yellow-200: #FFC700;
  --green-100: #E8FFF3;
  --green-200: #50CD89;
  --sky-100: #F1FAFF;
  --sky-200: #00B2FF;
  --purple-100: #F8F5FF;
  --purple-200: #7239EA;
  --blue-100: #ECF3FE;
  --blue-200: #D1E2FF;
  --blue-300: #9DC2FF;
  --blue-400: #5B9BFF;
  --blue-500: #2181FF;
  --blue-600: #0362FF;
  --blue-700: #064ACA;
  --blue-800: #06369C;
  --blue-900: #03226E;
  --gray-100: #F9FAFB;
  --gray-200: #F6F7FB;
  --gray-300: #EFF1F6;
  --gray-400: #E2E7F3;
  --gray-500: #CBD2E2;
  --gray-600: #B5BCCC;
  --gray-700: #848DA3;
  --gray-800: #686C7E;
  --gray-900: #363A4D;
  --black: #171F31;
  --white: #FFFFFF;
}

@font-face {
  src: url("https://webfontworld.github.io/pretendard/Pretendard.css");
  font-style: normal;
  font-family: Pretendard;
}

@font-face {
  src: url("http://fonts.cdnfonts.com/css/open-sans");
  font-style: normal;
  font-family: OpenSans;
  unicode-range: U+0020-007E;
}

/* 포커스 스타일링 */
*:focus {
  outline: 0.075rem solid var(--gray-500);
  outline-offset: -0.1rem;
}

/* 콘텐츠 스타일링 */
body {
  width: 100%;
  min-width: 1080px;
  color: var(--black);
  font-size: 0.9rem;
  font-weight: 400;
  font-family: Pretendard, sans-serif;
}

/* 헤딩 스타일링 */
h1, h2, h3, h4, h5, h6 {
  letter-spacing: -0.025em;
}

/* 인풋 스타일링 */
input {
  box-sizing: border-box;
  vertical-align: top;
}
input::placeholder {
  color: var(--gray-600);
}
textarea::placeholder {
  color: var(--gray-600);
}
input:read-only, textarea:read-only {
  background-color: var(--gray-200);
}

/* 링크 스타일링 */
a {
  cursor: pointer;
}

/* 번호 링크 스타일링 */
.link-navy {
  color: var(--blue-700);
}
.link-navy:hover {
  color: var(--blue-400);
}
.link-black {
  color: var(--black);
}
.link-black:hover {
  color: var(--gray-700);
}

/* 선택 박스 스타일링 */
select {
  appearance: none;
  box-shadow: none !important;
  background-image: url("/image/arrow-down.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.1rem) center;
  box-sizing: border-box;
  vertical-align: top;
}
select option {
  box-shadow: none !important;
}

/* 버튼 스타일링 */
button {
  width: 100%;
  border-width: 1px;
  border-color: transparent;
  border-radius: 0.375rem;
  font-weight: 500;
}
button i {
  font-weight: 600;
  font-size: 0.95rem;
  vertical-align: -0.05rem;
}
/* 버튼 색상 스타일링 */
.button-navy {
  color: var(--white);
  background: var(--blue-900);
}
.button-navy:hover {
  background: var(--blue-800);
}
.button-navy-flip {
  color: var(--blue-900);
  background: var(--blue-100);
}
.button-navy-flip:hover {
  background: var(--blue-200);
}
.button-dark {
  color: var(--dark-200);
  font-weight: 600;
  background: var(--dark-100);
}
.button-dark:hover {
  background: var(--dark-150);
}
.button-gray {
  color: var(--black);
  font-weight: 600;
  background: var(--gray-300);
}
.button-gray:hover {
  background: var(--gray-400);
}

/* 뱃지 스타일링 */
.badge {
  padding: 0.325rem 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 0.425rem;
  cursor: default;
}
/* 뱃지 색상 스타일링 */
.badge-rose {
  color: var(--rose-200);
  background: var(--rose-100);
}
.badge-rose:hover {
  background: var(--rose-150);
}
.badge-yellow {
  color: var(--yellow-200);
  background: var(--yellow-100);
}
.badge-green {
  color: var(--green-200);
  background: var(--green-100);
}
.badge-sky {
  color: var(--sky-200);
  background: var(--sky-100);
}
.badge-blue {
  color: var(--blue-500);
  background: var(--blue-100);
}
.badge-purple {
  color: var(--purple-200);
  background: var(--purple-100);
}
.badge-navy {
  color: var(--blue-900);
  background: var(--blue-100);
}
.badge-navy:hover {
  background: var(--blue-200);
}
.badge-navy-flip {
  color: var(--white);
  background: var(--blue-900);
}
.badge-navy-flip:hover {
  background: var(--blue-800);
}
.badge-dark {
  color: var(--dark-200);
  background: var(--dark-100);
}
.badge-dark:hover {
  background: var(--dark-150);
}

.clickable {
  cursor: pointer !important;
}
.unclickable {
  cursor: default !important;
}
.text-colon {
  margin-left: -0.15rem;
  margin-right: -0.15rem;
}
.separator:after {
  content: '';
  display: inline-block;
  width: 0.05rem;
  height: 0.675rem;
  vertical-align: center;
  background-color: var(--gray-500);
  margin-right: 0.75rem;
}

/* 필수 요소 스타일링 */
.essential:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -0.65rem;
  right: -0.1rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: var(--rose-200);
  border-radius: 50%;
}
.essential-asterisk:after {
  content: '*';
  display: inline-block;
  position: relative;
  top: 0.1rem;
  left: 0.35rem;
  color: var(--rose-200);
  border-radius: 50%;
}

/* 테이블 스타일링 */
table {
  width: 100%;
  text-align: left;
  line-height: 1.25rem;
  border-collapse: collapse;
}
table thead {
  height: 2.25rem;
  background: var(--gray-100);
  border-top: 0.05rem solid var(--gray-300);
  border-bottom: 0.05rem solid var(--gray-300);
}
table thead th {
  padding: 0.75rem 1.5rem;
}
table tbody {
  border-bottom: 0.05rem solid var(--gray-300);
}
table tbody tr {
  border-bottom: 0.05rem solid var(--gray-300);
}
table tbody tr:hover {
  background: var(--gray-100);
}
table tbody th, tbody td {
  padding: 0.75rem 1.5rem;
}

/* 페이징 스타일링 */
.area-page {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.area-page .ul-area-page {
  display: flex;
}
.area-page .ul-area-page li a {
  display: block;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 0.3rem 0.5rem;
  border: 1px solid var(--gray-400);
}
.area-page .ul-area-page li a:hover {
  background: var(--gray-100);
}
.area-page .ul-area-page li:first-child a {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.area-page .ul-area-page li:last-child a {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.area-page .ul-area-page li i {
  font-size: 0.9rem;
  line-height: 1.5;
  vertical-align: bottom;
}
.area-page .ul-area-page .number a {
  padding-left: 0.65rem;
  padding-right: 0.65rem;
}
.area-page .ul-area-page .active a {
  color: var(--blue-600) !important;
  background: var(--blue-100) !important;
  border: 1px solid var(--blue-300) !important;
}
.area-page .ul-area-page .active:hover a {
  background: var(--blue-200) !important;
}
.area-page .ul-area-page .disable {
  pointer-events: none;
  opacity: 0.6;
}
.area-page .form-area-page {
  display: flex;
}
.area-page .form-area-page .page-sort select {
  width: 5rem;
  height: 2.1rem;
  padding: 0.25rem;
  border: 1px solid var(--gray-400);
  border-top-left-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
  font-size: 0.9rem;
}
.area-page .form-area-page .page-sort-by select {
  width: 5rem;
  height: 2.1rem;
  padding: 0.25rem;
  border: 1px solid var(--gray-400);
  font-size: 0.9rem;
}
.area-page .form-area-page .page-keyword input {
  width: 15rem;
  height: 2.1rem;
  padding: 0.25rem 0.25rem 0.25rem 0.35rem;
  border: 1px solid var(--gray-400);
  font-size: 0.9rem;
}
.area-page .form-area-page .page-button {
  width: 5rem;
  padding: 0.25rem;
  color: var(--blue-600);
  background: var(--blue-100);
  border: 1px solid var(--blue-300);
  border-top-right-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}
.area-page .form-area-page .page-button:hover {
  background: var(--blue-200);
}