<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{schedule/layout}">

<head>
  <title>스케줄 시스템 :: 사용자 목록</title>
  <link th:href="@{/style/schedule/user/userList.css}" rel="stylesheet">
</head>

<th:block layout:fragment="content-fragment">
  <!-- 대시보드 본문 영역 -->
  <section class="area-dashboard">
    <!-- 대시보드 메뉴 경로 영역 -->
    <th:block th:replace="/schedule/partial/route :: route-fragment(parent = '사용자', child = '목록')" />
    <!-- 대시보드 제목 영역 -->
    <th:block th:replace="/schedule/partial/title :: title-fragment(title = '사용자 목록', comment = ': 시스템에 등록된 사용자 목록을 조회합니다.')" />
    <!-- 대시보드 액션 버튼 영역 -->
    <div class="area-dashboard-action">
      <ul>
        <li><button type="button" class="button-navy" onclick="app.backward()"><i class="ic-arrow-left"></i></button></li>
        <li><button type="button" class="button-navy" onclick="app.refresh()"><i class="ic-refresh"></i></button></li>
      </ul>
    </div>
    <!-- 대시보드 내용 영역 -->
    <div class="area-dashboard-content">
      <!-- 사용자 목록 테이블 영역 -->
      <div class="area-user-list">
        <table class="table-user-list">
          <thead>
            <tr>
              <th class="th-user-seq">사용자 번호</th>
              <th class="th-user-name">사용자 이름</th>
              <th class="th-user-email">사용자 이메일</th>
              <th class="th-user-code">사용자 사번</th>
              <th class="th-user-grade">사용자 등급</th>
              <th class="th-user-store">사용자 등록</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="user : ${results}"
                th:with="userProfilePage = @{/user/profile/{userSeq}(userSeq = ${user.userSeq})}">
              <td class="td-user-seq">
                <a class="link-navy" th:text="${'#' + user.userSeq}" th:href="@{${userProfilePage}}"></a>
              </td>
              <td class="td-user-name" th:text="${user.userName}"></td>
              <td class="td-user-email" th:text="${user.userEmail}"></td>
              <td class="td-user-code" th:text="${user.userCode}"></td>
              <td class="td-user-grade">
                <span class="badge badge-dark" th:text="${user.userGrade}" />
              </td>
              <td class="td-user-store">
                <span class="badge badge-dark" th:text="${user.userStore}" th:if="${user.userStore == 'STORED'}" />
                <span class="badge badge-rose" th:text="${user.userStore}" th:if="${user.userStore == 'DELETED'}" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 사용자 목록 페이징 검색 영역 -->
      <div class="area-user-page-search">
        <th:block th:replace="/schedule/page/user/tile/userPageSearch :: user-page-search-fragment" />
      </div>
    </div>
  </section>
</th:block>

</html>